
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.history*

*.Resharper
*.DotSettings
*- Copy*
packages/*
!packages/repositories.config
lib/
*.files
*.VC.db
*.VC.opendb
*.lock.json
.vs
appsettings.user.json
artifacts
!**/Tes/release/
thot-new-model.zip
*.tgz
out/
src/sentencepiece4c/build/
src/sentencepiece4cbuild/
!samples/**/release
**/*.feature.cs
