<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Core" version="15.7.0" targetFramework="net46" />
  <package id="Bridge.Html5" version="15.7.0" targetFramework="net46" />
  <package id="Bridge.Min" version="15.7.0" targetFramework="net46" />
  <package id="Bridge.QUnit" version="1.8.3" targetFramework="net46" />
  <package id="Chutzpah" version="4.3.3" targetFramework="net46" />
</packages>