<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Core" version="15.4.0" targetFramework="net46" />
  <package id="Bridge.Html5" version="15.4.0" targetFramework="net46" />
  <package id="Bridge.Min" version="15.4.0" targetFramework="net46" />
  <package id="Bridge.QUnit" version="1.8.2" targetFramework="net46" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net46" />
  <package id="QUnitTeamCityDriver" version="1.0.0" targetFramework="net46" />
</packages>