<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="build.palaso.org" value="http://build.palaso.org/guestAuth/app/nuget/v1/FeedService.svc/" />
  </packageSources>
</configuration>