<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.0.1" targetFramework="net461" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net46" />
  <package id="NUnit" version="3.5.0" targetFramework="net46" />
  <package id="Thot" version="1.0.0-build00045" targetFramework="net461" />
</packages>